apiVersion: yandex-cloud.upjet.upbound.io/v1beta1
kind: ProviderConfig
metadata:
  name: default
  namespace: default
spec:
  credentials:
    source: Secret
    secretRef:
      name: example-creds
      key: credentials
